<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chef Login Page</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <div class="pos">
		<div class="wrap-login100">
			<h1 style="padding-left: 60px"> Login Here</h1><br>
				<form class="login100-form validate-form" action="/chefsubmit" method="post">
					<div class="wrap-input100 validate-input" >
						<input class="input100" name="uname" type="text" placeholder="UserName" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
                    
					<div class="wrap-input100 validate-input">
						<input class="input100" type="password" name="pass" placeholder="Password" required>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<button class="login100-form-btn">
							Login
					</button>
				</form>
		</div>
	</div>		
</body>
</html>