<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/delivery.css">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
    <title>Deliveryman</title>
</head>
<body>
  <div class="col-xs-8">
  </div>
      <div class="col-xs-4 " >
          <form action="/deliverysubmit" method="post">
           		<fieldset>
           		  <legend><h2>Login Here</h2></legend>
           		    Username:<br>
           		  <input type="text" name="uname" ><br>
           		    Password:<br>
           		  <input type="Password" name="pwd" ><br><br>
           		  <button class="btn success">Login</button>
           		</fieldset>
          </form>
      </div>
  </div>
</body>
</html>