<html>
<head>
<title>Login Form</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
	<div class="loginbox">
	<h1>Login Here</h1>
	<form action="/loginSubmit" method="post">
		<p>User name</p>
		<input type="text" name="uname" placeholder="&#9993 Enter User name" required>
		<p>Password</p>
		<input type="password" name="pass" placeholder="&#128274 Enter Password" required>
  
		<input type="submit" name="register" value="Login"><br>
		<a href="/signup">Lost your password?</a><br><br>
		<a href="/signup">Don't have an account?</a>
	</form>
	</div>
</body>
</html>