<!DOCTYPE html>
<html>
<head>
  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Acme" >
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merienda+One" >
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <style>
        .btn
{
	background-color:black;
	border-radius:20px;
	color:white;
	width:300px;
}


.btn:hover
{
  background-color:black;	
  color:yellow;
  font-weight:bold;
}

body
{
	background-image: url(https://d2lhw32459hxui.cloudfront.net/files/uploads/drupal/uploads/2016/12/tastyfoods.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-size:100%; 
	padding-bottom:50px;
}


.second
{
	padding-left:70%;
	
}

h1
{
	padding-top:50px;
	padding-left:20px;
	font-family: 'Lobster', cursive;
	display:inline-block;
	word-wrap:break-word;
}

h2
{
	
	font-family: 'Lobster', cursive;
	display:inline-block;
	word-wrap:break-word;
}





    </style>

    <title>Foodies</title>
</head>
<body>
    <div class="col-lg-8 first">
      <h1>Welcome to Foodies!!</h1><br><h2>                  .....the perfect place for food lovers! ;)</h2>
    </div>
    <div class="col-lg-4 second">
        <div class="row">
          <h2>You're here for one of these...</h2>
        </div> 

        <div class="row one">
          <a href="/user/signup"><button class="btn btn-primary btn-lg">Customer Signup</button></a>
        </div>
        <br><br>

        <div class="row two">
          <a href="/user/custlogin"><button class="btn btn-primary btn-lg">Customer Login</button></a>
        </div>
        <br><br>

        <div class="row three">
          <a href="/deliverylogin"><button class="btn btn-primary btn-lg">Deliveryman login</button></a>
        </div>
        <br><br>

        <div class="row four">
          <a href="/cheflogin"><button class="btn btn-primary btn-lg button4">Chef login</button></a>
        </div>
    </div>

  
</body>
</html>
